.corner-nav {
  background-color: white;
  transition: 0.6s;
  color: black;
  position: fixed;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 5px;
}

.corner-nav-link {
  color: black;
}

.open {
  background-color: white;
  color: black;
  transition: 0.6s;
  height: 70px;
}

.closed {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}