.previewDataBox  {
  position: fixed;
  background-color: white;
  color: black;
  position: absolute;
  padding: 5px;
  border-radius: 15px;
  text-align: left;
  width: 200px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right {
  transform: translateX(70px) translateY(-66px);
}

.left {
  transform: translateX(-220px) translateY(-66px);
}

.previewTitle {
  font-weight: bold;
  cursor: pointer;
}

.previewDetails {
  font-style: italic;
}