.player-wrapper {
  margin-left: 15%;
  margin-right: 15%;
}

video {
  outline: 0 black !important;
}

.video-react-controls-enabled {
  outline: 0 black !important;
}

.source-link {
  cursor: pointer;
  text-decoration: underline;
}

.currently-viewing {
  width: 100%;
  margin-right: 15%;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
  position: absolute;
  z-index: 1;
  text-align: left;

}

.currently-viewing-text {
  font-size: 18px;
  margin-left: 25px;
}

.alt-sources {
  text-align: left;
}