.player-wrapper {
  margin-left: 15%;
  margin-right: 15%;
}

video {
  outline: 0 black !important;
}

.video-react-controls-enabled {
  outline: 0 black !important;
}

.source-link {
  cursor: pointer;
  text-decoration: underline;
}